.Placeholder {
  align-items: center;
  background-image: url(./images/titelbild.jpg);
  background-size: cover;
  display: flex;
  height: 70vh;
  justify-content: center;
}

.Placeholder h1 {
  color: rgb(255, 255, 240);
  font-weight: 100;
  font-size: 120px;
  padding: 40px;
}

@media screen and (max-width: 960px) {
  .Placeholder h1 {
    color: rgb(255, 255, 240);

    font-size: 80px;
    padding: 20px 40px;
  }
}
